{% extends 'base.html' %}

{% block head %}
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style>
            .drop-zone {
                max-width: 200px;
                height: 200px;
                padding: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-family: 'Quicksand', sans-serif;
                font-weight: 500;
                font-size: 20px;
                cursor: pointer;
                color: #cccccc;
                border: 4px dashed #009578;
                border-radius: 10px;
            }
            .drop-zone--over {
                border-style: solid;
            }
            .drop-zone__input {
                display: none;
            }
            img {
                max-width: 150px;
                max-height: 150px;
            }
            .image-preview {
                max-width: 100%;
                max-height: 100%;
                /* border: 2px solid #dddddd; */
                /* margin-top: 15px; */
                /* Default Text */
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                color: #cccccc;
            }
            .image-preview__image {
                display: none;
                width: 100%;
            }
        </style>

        <!-- Load the basic appearence of the website Bootstrap -->
        <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
        />
        <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous"
        />
        <!--Load icon library-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>{% block title %}Profile{% endblock %}</title>
    </head>
{% endblock %}

<!--Change the Navigation Bar-->
{% block navbar %}
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <div class="navbar-nav">
            {% if user.is_authenticated %}
                <a class="nav-item nav-link" id="home" href="/"><i class="fa fa-fw fa-home"></i>Home</a>
                <a class="nav-item nav-link" id="profile" href="/profile"><i class="fa fa-fw fa-user"></i>Profile</a>
                <a class="nav-item nav-link" id="logout" href="/logout">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                    </svg>
                    Logout
                </a>
            {% endif %}
          </div>
        </div>
      </nav>
{% endblock %}


<!--Profile web page content-->
{% block content %}
    <form method="POST" enctype="multipart/form-data" name="profile_form" id="profile_form">
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <!-- Left -->
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3" style="padding-bottom: 10px;">
                            <h4 class="text-right">Profile Image</h4>
                        </div>
                        <div class="drop-zone">
                            <!--Input Element of the uploaded image-->
                            <input type="file" name="profile_image" id="profile_image" class="drop-zone__input">
                            <div class="image-preview" id="imagePreview">
                                {% if profile is not none %}
                                    {% if profile.img_filename is not none %}
                                        <img src="{{ url_for('static', filename='uploads/' + profile.img_filename) }}">
                                    {% else %}
                                        <img src="/website/static/uploads/default_img.png">
                                        <!-- <span class="default-text-prompt">Click to upload an image</span> -->
                                    {% endif %}
                                {% else %}
                                    <img src="" alt="Image Preview" class="image-preview__image">
                                    <span class="default-text-prompt">Click to upload an image</span>
                                {% endif %}
                            </div>
                        </div>
                        <span class="font-weight-bold" style="padding-top: 20px;">{{ user.full_name }}</span>
                        <span class="text-black-50">{{ user.email }}</span><span> </span>
                    </div>
                </div>
                <!-- Middle -->
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3" style="padding-bottom: 8px;">
                            <h4 class="text-right">Personal Details</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="nickname">Nickname:</label>
                                    {% if profile.nickname is not none %}
                                        <input type="text" class="form-control" id="nickname" name="nickname" 
                                            placeholder="{{ profile.nickname }}" value="{{ profile.nickname }}">
                                    {% else %}
                                        <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Enter nickname">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="phone_number">Phone Number:</label>
                                    {% if profile.phone_number is not none %}
                                        <input type="text" class="form-control" id="phone_number" name="phone_number" 
                                            placeholder="{{ profile.phone_number }}" value="{{ profile.phone_number }}">
                                    {% else %}
                                        <input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="Enter phone number">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="state">State:</label>
                                    {% if profile.state is not none %}
                                        <input type="text" class="form-control" id="state" name="state" 
                                            placeholder="{{ profile.state }}" value="{{ profile.state }}">
                                    {% else %}
                                        <input type="text" class="form-control" id="state" name="state" placeholder="Enter state">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="city">City:</label>
                                    {% if profile.city is not none %}
                                        <input type="text" class="form-control" id="city" name="city" 
                                            placeholder="{{ profile.city }}" value="{{ profile.city }}">
                                    {% else %}
                                        <input type="text" class="form-control" id="city" name="city" placeholder="Enter city">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="gender">Gender:</label>
                                    <br />
                                    <select name="gender" id="gender" form="profile_form">  
                                    {% if profile.gender is not none %}
                                        <option value="male" {% if profile.gender == 'male' %} selected {% endif %}>Male</option>
                                        <option value="female" {% if profile.gender == 'female' %} selected {% endif %}>Female</option>
                                        <option value="other" {% if profile.gender == 'other' %} selected {% endif %}>Other</option>
                                    {% else %}
                                        <option selected disabled hidden>Choose gender</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="other">Other</option>
                                    {% endif %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                        </div>
                    </div>
                </div>
                <!-- Right -->
                <div class="col-md-4">
                    <div class="p-3 py-5">
                        <div class="col-md-12">
                            <h4 class="text-left">Additional</h4>
                        </div>
                        <br />
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="user_type">User's type:</label>
                                <br />
                                {% if profile.user_type is not none %}
                                <select name="user_type" id="user_type" form="profile_form">
                                        <option value="admin" {% if profile.user_type == 'admin' %} selected {% endif %}>Admin</option>
                                        <option value="seller" {% if profile.user_type == 'seller' %} selected {% endif %}>Seller</option>
                                        <option value="buyer" {% if profile.user_type == 'buyer' %} selected {% endif %}>Buyer</option>
                                        <option value="viewer" {% if profile.user_type == 'viewer' %} selected {% endif %}>Viewer</option>
                                    {% else %}
                                <select name="user_type" id="user_type" form="profile_form">
                                        <option selected disabled hidden>Choose type of User</option>
                                        <option value="admin">Admin</option>
                                        <option value="seller">Seller</option>
                                        <option value="buyer">Buyer</option>
                                        <option value="viewer">Viewer</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="profession">Profession:</label>
                                {% if profile.nickname is not none %}
                                    <input type="text" class="form-control" id="profession" name="profession" 
                                        placeholder="{{ profile.profession }}" value="{{ profile.profession }}">
                                {% else %}
                                    <input type="text" class="form-control" id="profession" name="profession" placeholder="Enter profession">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="addition_details">Additional Details</label>
                            {% if profile.nickname is not none %}
                                <textarea name="addition_details" id="addition_details" class="form-control">{{ profile.addition_details }}</textarea>
                            {% else %}
                                <textarea name="addition_details" id="addition_details" class="form-control" placeholder="Additional Details"></textarea>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>            
            <div style="align-items: center;" class="row">
                <div>
                    <button  type="submit" class="btn btn-primary">
                        Save Profile
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                         fill="currentColor" class="bi bi-arrow-bar-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 
                            1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 
                            .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 
                            0 0 1 8 6z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}