{% extends "base.html" %}

{% block title %}Profile{% endblock %}
<head>
  <link type="stylesheet" href="{{ url_for('static', filename='styles/profile_style.css') }}">
</head>
{% block navbar %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        <a class="nav-item nav-link" id="home" href="/"><i class="fa fa-fw fa-home"></i>Home</a>
        <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
      </div>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-4">
      <!--
        User Profile
      -->
      <div class="card" style="width: 18rem;">
        {% if img != '' %}
          <img src="data:image/jpeg;base64, {{ img }}" class="card-img-top">
        {% else %}
          <img src="{{ url_for('static', filename='images/default_img.png') }}" class="card-img-top">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ user.full_name }}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="bold_text">Nickname: </span>{{ user.nickname }}</li>
          <li class="list-group-item"><span class="bold_text">Phone number: </span>{{ user.phone_number }}</li>
          <li class="list-group-item"><span class="bold_text">State: </span>{{ user.state }}</li>
          <li class="list-group-item"><span class="bold_text">City: </span>{{ user.city }}</li>
          <li class="list-group-item"><span class="bold_text">Gender: </span>{{ user.gender }}</li>
          <li class="list-group-item"><span class="bold_text">User type: </span>{{ user.user_type }}</li>
          <li class="list-group-item"><span class="bold_text">Profession: </span>{{ user.profession }}</li>
          <li class="list-group-item"><span class="bold_text">Addition details: </span>{{ user.addition_details }}</li>
        </ul>
        <div class="card-body">
          <li class="list-group-item"><span class="bold_text">Actions: </span><br />
            <a href="/edit-profile" class="card-link btn btn-primary btn-sm">
              Edit
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-pen" viewBox="0 0 16 16">
                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 
                1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 
                0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 
                .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 
                1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 
                0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
              </svg>
            </a>
            
              <!-- Delete Button does not working - redirect to unknown page (404 error) -->

              {% if is_profile_exist == True %}
                <a href="/delete-profile" class="card-link btn btn-danger btn-sm">
                  Delete
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" 
                  class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5
                    0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0
                    0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 
                    2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 
                    1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118
                    4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg>
                </a>
              {% endif %}
           
        </div>
      </div>
    </div>
  </div>
{% endblock %}